.certificates {
  margin: 50px 20px;
}
.certificate {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 20px 20px 10px 20px;
  margin: 30px 0 0 0;
  border-bottom: #222 solid 3px;
  border-right: #222 solid 3px;
  border-left: #888 solid 3px;
  border-top: #888 solid 3px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .certificate {
    max-width: 450px;
  }
}

.certificate-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  border-bottom: #222 solid 2px;
  border-right: #222 solid 2px;
  border-left: #ccc solid 2px;
  margin-bottom: 10px;
}

.certificate .certificate-title {
  font-size: 15px;
  color: #444;
}

.certificate .certificate-title:hover {
  color: #222;
}

.certificate .certificate-description {
  font-size: 12px;
  color: #666;
}

.certificate .skill-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  padding: 5px 5px;
  border-top: #222 solid 1px;
  margin: 10px 0 0 0;
}

.certificate .skill-icon {
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
